body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.logo {
    height: 80px;
    margin-right: 20px;
}

h1 {
    color: #003366;
    font-size: 1.8rem;
}

#search-input {
    display: block;
    margin: 20px auto;
    padding: 12px;
    width: 40%;
    max-width: 500px;
    border: 1px solid #003366;
    border-radius: 5px;
    font-size: 1rem;
}

#loading-indicator {
    text-align: center;
    margin: 20px;
    font-size: 1.2rem;
    color: #003366;
}

.table-container {
    width: 100%;
    padding: 0 20px; /* Add padding around the container */
    overflow-x: auto;
}

table {
    width: 100%;
    margin: 20px auto; /* Add margin around the table */
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 800px; /* Ensures table won't shrink too much */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    white-space: nowrap;
}

th {
    background-color: #002244;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td[contenteditable="true"] {
    background-color: grey;
    cursor: pointer;
    color: white;
}

button {
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    padding: 12px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #002244;
}

/* Landscape Mode for mobile */
@media only screen and (max-device-width: 768px) and (orientation: landscape) {
    .table-container {
        padding: 0 20px; /* Add margin in landscape mode to prevent edge-to-edge display */
    }
    
    table {
        width: 90%;
        min-width: 90%; /* Force table to fit in the screen width */
    }

    th, td {
        font-size: 0.9rem; /* Slightly smaller font for better visibility */
        padding: 8px;
    }

    button {
        width: 80%;
        padding: 10px;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .logo {
        height: 60px; /* Reduce logo size in landscape mode */
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    
    #search-input {
        width: 60%;
        padding: 10px;
        font-size: 0.9rem;
    }

    .table-container {
        padding: 0 15px; /* Add padding around the table on smaller screens */
    }

    table {
        width: 100%;
        min-width: 100%;
        margin: 0 auto;
    }

    th, td {
        padding: 8px;
        font-size: 0.9rem;
    }

    button {
        width: 90%;
        padding: 10px;
        font-size: 0.9rem;
    }
}
