body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.logo {
    height: 100px;
    margin-right: 20px;
}

h1 {
    color: #003366; /* Match with the logo's dark blue */
}

#search-input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #003366; /* Match with the logo's dark blue */
    border-radius: 5px;
    font-size: 16px;
}

#loading-indicator {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: #003366; /* Match with the logo's dark blue */
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #cc0000; /* Match with the logo's red */
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9f7fe;
}

td[contenteditable="true"] {
    background-color: #333;
    cursor: pointer;
    color: white;
}

td[contenteditable="true"]:hover {
    background-color: #0c0c0a;
    color: white;
}

.edited {
    background-color: #d4edda !important;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #003366; /* Match with the logo's dark blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #002244; /* A darker shade of the logo's dark blue */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
